@using MistikRota.Entites
@model MistikRotaUser


@{
    ViewBag.Title = "Profiliniz";
}

<div class="container">

    <div class="row">
        <h2></h2>
        <hr />
    </div>

    <div class="row">

        <div class="col-md-2">
            
            <img src="~/Images/@Model.ProfileImageFileName" alt="" class="im-circle" width="128" height="128" />
        </div>

        <div class="col-md-10">
            <h3>@(Model.Name + " " + Model.Surname)</h3>
            <br />
            <h6><b>@Html.DisplayNameFor(model => model.Username):</b> @Model.Username</h6>
            <h6><b>@Html.DisplayNameFor(model => model.Email):</b> @Model.Email</h6>
            <br />
            <h6><a href="#">Daha fazlası...</a></h6>
        </div>

        

    </div>

</div>

